@import 'Vars.scss';
@import 'Media.scss';

.inputFileContainer{
  height: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:center;
  text-align:center;
}
.inputFileContainer p{
  font-size:13px;
  margin-top: 0;
}
.inputFileContainer button{
  width: 100%;
}

#file_form #file_label{
  display: block;
  padding: 16px;
}
#file_label{
  width: 215px;
  min-height: 204px;
  border: 5px solid #999;
  border-style: dashed;
}
#file_label:hover{
  background: #eee;
}
#file_label:checked {
  background: tomato;
}
#file_form #file_label::after,
#file_form #file_label::before{
  position: absolute;
  content: "";
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #fff; */
  z-index: -1;
}
#file_form #file_imput{
  display: none;
}

.buttons {
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
  padding: '10px';
  margin-top: '10px';
}
